.sidebar{
float:right;
background-color:black;
color:white;
padding:5px;
margin: 5px 0 5px 5px;
}

.name{
  font-style: italic;
}

img{
  float:left;
  margin:10px;
  max-width: 60%;
  padding:2px;
}

.rightfloat{
  float:right;
}

.member{
  border:solid 1px black;
  padding:10px;
}

.column{
  width:30%;
  height:325px;
  float:left;
  padding:10px;
  background-color:lightblue;
  margin-bottom: 20px;
}

.column img{
  border:solid 3px black;
}

.col1{
  background-color: #87cefa;
}

.col2{
  background-color: #79b9e1;
}

.col3{
  background-color: #6ca4c8;
}
